{% extends "base.html" %}
{% block div %}
.trow
{
    display:inline-block;
    border-style:solid;
    border-width:2px 2px;
    padding: 5px 10px 5px 10px;
}
.response
{
    padding: 5px;
}
{% endblock %}
{% block title %}Account{% endblock %}
{%block jsfiles %}
<script src="/js/Transaction.js"></script>
{% endblock %}
{% block header %}
<h2>Account page</h2>
{% endblock %}
{% block content %}
<p>This is your account page {{user}}</p>
{% endblock %}
{% block form %}
<form action="#" method = "post">
<p>Set new password</p>
<p>Enter old password = <input type="password" name= "oldpassword"></p>
<p>Enter new password = <input type="password" name= "newpassword"></p>
<p><input type="submit" value = "set new password"></p>
</form>
{% endblock %}
{% block after %}
<button id="transactions" onclick="getTranscations()">Load Transcations</button>
<div class = "response" id="response"></div>
{% endblock %}