{% extends "adminBase.html" %}
{% block title %}Product {{pname}}{% endblock %}
{% block jsfiles %}
<script src="/js/product.js"></script>
<script>
window.onunload= loadReviews({{pid}});
</script>
{% endblock %}
{% block header %}
<h2>Product {{pname}}</h2>
{% endblock %}
{% block content %}
<p>This is the product page for <i>{{pname}}</i> made by <i>{{pmake}}</i><br>Price: <i>{{price}}</i></p>
{% endblock %}
{% block form %}
<form action="#" method="post" enctype="multipart/form-data">
	<p>adjust stock:<input type="number" name="stock" value ="0"></p>
	<p>set new price:<input type="number" name="price" value ="0"></p>
	{% if not path %}
		<p><label for="file">add image:</label><input type="file" id ="file" accept=".png,.jpg,image/*" name="path"></p>
	{% endif %}
	<p><input type="submit" value="submit"></p>
</form>
{% endblock %}
{% block after %}
<div id = "reviewArea" class="review">
</div>
{% endblock %}