{% extends "base.html" %}
{% block div %}
        #basket
        {
            display:table;
            
        }
        .basketRow
        {
            display:table-row;
            text-align:center;
            height:75px;
            padding: 10px;
        }
        .basketItem
        {
            padding-left: 10px;
            padding-right: 10px;
            display: table-cell;
        }
        .fixedsizedItem
        {
            .basketItem;
            height:50px;
            width:50px;
        }
{% endblock %}
{% block title %}Home{% endblock %}
{% block jsfiles %}
<script src="/js/basket.js"></script>
<script>
window.addEventListener("load", function(){
    loadBasket();
});
</script>
{% endblock %}
{% block header %}
<h2>Your Basket</h2>
{% endblock %}
{% block content %}
<p>Item shown here are in your basket<p>
{% endblock %}
{% block form %}
<div id = "basketArea" class="basket">
</div>
{% endblock %}