{% extends "base.html" %}
{% block title %}Product {{pname}}{% endblock %}
{% block jsfiles %}
{% endblock %}
{% block header %}
<h2>Product {{pname}}</h2>
{% endblock %}
{% block content %}
<p>This is the product page for {{pname}} made by {{pmake}}</p>
{% endblock %}
{% block form %}
<form action="#" method="post">
	<p>1            5</p>
	<input type="radio" id="1" name="rating" value="1">
	<input type="radio" id="2" name="rating" value="2">
	<input type="radio" id="3" name="rating" value="3">
	<input type="radio" id="4" name="rating" value="4">
	<input type="radio" id="5" name="rating" value="5">
	<label for="5">5</label><br>
	<input type="submit" value="Submit">
</form>
{% endblock %}
