{% extends "base.html" %}
{% block title %}Product {{pname}}{% endblock %}
{% block jsfiles %}
<script src="/js/product.js"></script>
<script>
window.onunload= loadReviews({{pname}});
</script>
{% endblock %}
{% block header %}
<h2>Product {{pname}}</h2>
{% endblock %}
{% block content %}
<p>This is the product page for {{pname}} made by {{pmake}}</p>
{% endblock %}
{% block form %}
{% if user %}
<form action="#" method="post">
	<p style="text-align:left;">
	<textarea id="0" name="textarea" rows="10" cols="50"></textarea><br><br>
	<label for="1">1</label>
	<input type="radio" id="1" name="rating" value="1">
	<input type="radio" id="2" name="rating" value="2">
	<input type="radio" id="3" name="rating" value="3">
	<input type="radio" id="4" name="rating" value="4">
	<input type="radio" id="5" name="rating" value="5">
	<label for="5">5</label>
	<input type="submit" value="Submit">
	</p>
</form>
{% endif %}
{% endblock %}
{% block after %}
<div id = "reviewArea" class="review">
</div>
{% endblock %}