{% extends "base.html" %}
{% block title %}Reigster{% endblock %}
{% block header %}
<h2>Register user</h2>
{% endblock %}
{% block content %}
<p>Fill in your user info in register form to create a new user</p>
{% endblock %}
{% block form %}
<form name = "register" action="#" method = "post">
    <p>Register form</p>
    <p>Enter username = <input type="text" name= "username"></p>
    <p>Enter email = <input type="email" name="email"></p>
    <p>Enter password = <input type="password" name= "password"></p>
    <p><input type="button" onclick="submitRegister()" value = "register"></p>
</form>
{% endblock %}